body {
    font-family: 'Press Start 2P', cursive;
    background-color: #1D3557;
    text-align: center;
    color: white;
    padding: 10px;
}

/* ======= HEADER ======= */

header {
    margin-bottom: 15vh;
}

#yellowh1 {
    background: none;
    color: #FAC15F;
}

#redh1 {
    background: none;
    color: #E63946;
}

/* ======= MAIN ======= */

main {
    margin-top: 15vh;
    box-sizing: border-box;
    padding: 30px;
    width: fit-content;
    margin: auto;
    background-color: #182d49;
}

input[type="number"] {
    height: 23px;
    margin-bottom: 10px;
    height: 30px;
}

input[type="submit"] {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: #E63946;
    border: none;
    height: 40px;
    width: 100px;
}

input[type="submit"]:hover {
    background-color: #E88084;
}

/* ======= FOOTER =======  */

footer {
    width: 40vw;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: white;
}

a:hover {
    color: black;
    background-color: #E63946;
}
